<!DOCTYPE html>
<html lang="en">

<body style="background-color:rgb(32, 29, 29)">

<div class="logo">
 <img src="/assets/logo.png">
  <div class="site-title">Movie Store<br><small class="site-description">Welcome to the movie world!!</small>
  </div>
  <button type="button" class="btn btn-warning"><%= link_to 'Sign in', new_user_session_path %></button>
</div>

<div class="container">
<% @movies.each do |movie| %>
  <div class="a">
  <div class="card" style="width:250px">
    <img class="card-img-top">
    <%= image_tag movie.wallpaper.url(:medium)%>
    <div class="card-body">
      <h4 class="card-title"><%= movie.name %></h4>
      <p class="card-text">Releasing: <%= movie.release_date %></p>
      <p class="card-text"><%= movie.genre %></p>
      <a href="/movies/<%= movie.id %>" class="btn btn-primary">Find More!</a>
    </div>
  </div>
  </div>
  <% end %>
  </div>

</body>
</html>

