!!!
%html{ lang: "en" }
  %body{ style: "background-color:rgb(32, 29, 29)" }
    .logo
      %img{ src: "/assets/logo.png" }/
      .site-title
        Movie Store
        %br/
        %small.site-description Welcome to the movie world!!
      - if user_signed_in?
        %button.btn.btn-warning{ type: "button" }= link_to 'Sign out', destroy_user_session_path, method: :delete
      - else
        %button.btn.btn-warning{ type: "button" }= link_to 'Sign in', new_user_session_path
    .container
      - @movies.each do |movie|
        .a
          .card{ style: "width:250px" }
            %img.card-img-top/
            = image_tag movie.wallpaper.url(:medium)
            .card-body
              %h4.card-title= movie.name
              %p.card-text
                Releasing: #{ movie.release_date }
              %p.card-text= movie.genre
              %a.btn.btn-primary{ href: "/movies/#{ movie.id }" } Find More!
