
<div style="padding-left:20px">
<h1>Create a Movie</h1>


<%= form_for @movie do |f| %>

    <p>
    <%= f.label :Movie %><br/>
    <%= f.text_field :movie_name %>
    </p>

    <p>
    <%= f.label :Date_of_Release %><br/>
    <%= f.date_field :release_date %>
    </p>

    <p>
    <%= f.label :Small_description %><br/>
    <%= f.text_field :small_description %>
    </p>

    <p>
    <%= f.label :Description %><br/>
    <%= f.text_area :description %>
    </p>

    <p>
    <%= f.label :Genre %><br/>
    <%= f.text_field :genre %>
    </p>

    <p>
    <%= f.label :Recommended? %><br/>
    <%= f.text_field :recommended? %>
    </p>

    <p>
    <%= f.label :Age_bar %><br/>
    <%= f.number_field :age_bar %>
    </p>

    <p>
    <%= f.label :Image %><br/>
    <%= f.file_field :wallpaper %>
    </p>

    <p>
    <%= f.label :Comments %><br/>
    <%= f.text_area :comments %>
    </p>
    
    <p>
    <%= f.submit %>
    </p>
    
    <% end %>
    </div>